* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    scrollbar-width: none;
}

body {
    margin: auto;
    max-width: 1920px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #0C0C0E;
    background-color: #FFFFFF;
}

h2{
    font-family: "Yeseva One", sans-serif;
    font-size: 36px;
    font-weight: 400;
    color: #FFFFFF;
}

h1 {
    font-family: "Yeseva One", sans-serif;
    font-size: 64px;
    font-weight: 400;
    text-align: center;
    color: #FFFFFF;
}

p {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 20px;
}

header {
    position: absolute;
    padding: 15px 0;
    display: flex;
    width: 100%;
    max-width: 1920px;
    justify-content: center;
    backdrop-filter: blur(7px);
    background: rgba(255, 255, 255, 0.6);
    gap: 35%;
}

.logo {
    width: 124px;
}

nav {
    display: flex;
    align-items: center;
}

.menu {
    display: inline-flex;
    align-items: center;
    gap: 30px;
    list-style: none;
    line-height: 20px;
}

.menu a {
    color: #000;
    text-decoration: none;
}

@media screen and (max-width: 1600px) {
    body {
        font-size: 18px;
    }

    h1 {
        font-size: 56px;
    }

    h2{
        font-size: 30px;
    }

    header {
        padding: 10px 0;
    }

    .logo {
        width: 110px;
    }
    
    .menu {
        gap: 25px;
    }

    .menu a img {
        width: 35px;
    }
}

.toggle {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    user-select: none;
    z-index: 15;
}

.toggle div {
    width: 80%;
    height: 2px;
    background: #000;
    margin: 3px 0;
    z-index: 15;
}

.toggle.collapsed .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle.collapsed .line2 {
    opacity: 0;
}

.toggle.collapsed .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

@media screen and (max-width: 1000px) {
    body {
        font-size: 16px;
    }

    h1 {
        font-size: 48px;
    }

    h2{
        font-size: 18px;
    }

    header {
        gap: 50%
    }

    nav {
        display: none;
    }

    .toggle {
        display: flex;
    }
    .nav.collapsed {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 2;
        display: flex;
        width: 100%;
        height: 100vh;
        min-height: 525px;
        flex-direction: column;
        background: #c1c1c1;
    }
    .menu.collapsed {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        height: 100%;
        flex-direction: column;
        padding-top: 50px;
        gap: 60px;
        font-size: 20px;
        font-weight: 900;
    }
}

@media screen and (max-width:450px) {
    body {
        font-size: 14px;
    }

    h1 {
        font-size: 32px;
    }

    h2{
        font-size: 18px;
    }
}

.cover {
    padding: 329px 0 60px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: no-repeat url(assets/Images/png/cover.png);
    height: calc(1000px - 60px - 329px);  /* Так делать не правильно, нужно будет уточнить */
}

.appointment {
    display: flex;
    width: 51%;
    text-align: center;
    flex-direction: column;
    gap: 50px;
}

button {
    padding: 22px 50px;
    margin: auto;
    border: none;
    border-radius: 42px;
    height: 60px;
    background: linear-gradient(90deg, #d7b357 6.06%, #dbbd6d 37.1%, #e4d6a0 100%);
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #0C0C0E;
    cursor: pointer;
}

button:hover {
    background: linear-gradient(90deg, #f9e9c2 6.06%, #eed9a0 37.1%, #fff7d8 100%);
}

button:active {
    background: linear-gradient(90deg, #caa442 6.06%, #c1a456 37.1%, #e4d6a0 100%);;
}

.founding-date {
    display: flex;
    gap: 15px;
}

.founding-date p {
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    background: linear-gradient(90deg, #d7b357 6.06%, #dbbd6d 37.1%, #e4d6a0 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media screen and (max-width:450px) {
    .cover {
        padding: 200px 0 30px 0;
        height: 500px;
    }

    .appointment {
        width: 85%;
    }
}

.tiker {
    display: flex;
    overflow: hidden;
}

.ticker-item {
    color: #000;
    white-space: nowrap; 
    flex-shrink: 0; 
    padding: 15px 30px;
    animation: tiker 10s linear infinite;
}

@keyframes tiker {
    0% {transform: translateZ(0);}
    100% {transform: translate3d(-100%, 0, 0);}
}

.services {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-bottom: 120px;
}

.card {
    overflow: hidden;
    display: flex;
    width: 50%;
    align-items: center;
    position: relative;
    justify-content: center;
}

.card img {
    filter: saturate(0) brightness(50%);
    transition: 0.5s;
}

.card:hover img {
    filter: saturate(1);
    transform: scale(1.1);
}

.card-text {
    position: absolute;
    display: flex;
    gap: 30px;
    width: 50%;
    padding: 65px 52px;
    text-align: center;
    flex-direction: column;
    border-radius: 50px;
    transition: 0.2s;
}

.card:hover .card-text {
    background: rgba(255, 255, 255, 0.6);
}

.card:hover .description, .card:hover .title {
    background: #000;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.title {
    background: linear-gradient(90deg, #d7b357 6.06%, #dbbd6d 37.1%, #e4d6a0 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.description {
    color: #FFFFFF;
}

@media screen and (max-width: 1000px) {
    .services {
        display: flex;
        flex-direction: column;
    }

    .card {
        width: 100%;
        height: 800px;
    }

    .card-text {
        width: 55%;
    }

    .title {
        font-size: 32px;
    }
}

@media screen and (max-width: 450px) {
    .card {
        height: 600px;
    }

    .card-text {
        width: 60%;
    }

    .title {
        font-size: 25px;
    }

    .description {
        font-size: 15px;
    }
}

.btn-services {
    display: flex;
    justify-content: center;
    width: 100%;
    background: #000;
    border-radius:0 0 30px 30px;
}

.btn-services button {
    margin: 50px 0;
}

.benefits {
    margin-bottom: 120px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 110px;
}

.benefits h2 {
    color: #000;
}

.flex-box {
    display: flex;
    flex-wrap: wrap;
    width: 1270px;
    column-gap: 100px;
    align-items: center;
    justify-content: flex-start;
}

.cell {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 356px;
    height: 338px;
    margin-bottom: 30px;
    background: #000;
    color: #FFFFFF;
    border-radius: 40px;
}

.cell img {
    height: 55px;
    width: 55px;
    margin: 35px 0;
}

.benefits-txt {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 15px;
    margin: 0 30px;
}

.benefits-txt h3{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 26px;
}

.benefits-txt hr {
    width: 40%;
}

.benefits-txt p {
    font-size: 14px;
    line-height: 16px;
}

@media screen and (max-width: 1300px) {
    .benefits h2 {
        font-size: 32px;
        text-align: center;
    }
    
    .flex-box {
        width: 850px;
    }
}

@media screen and (max-width: 1000px) {
    .flex-box {
        width: 400px;
    }
}

@media screen and (max-width: 450px) {
    .flex-box {
        width: 300px;
    }

    .cell img {
        width: 33px;
        height: 33px;
        margin: 27px 0;
    }

    .benefits-txt h3 {
        font-size: 22px;
    }


}

.about-salon {
    display: flex;
    background-color: #000;

}

.interior {
    position: relative;
    width: 50%;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 30px;
}

#frame {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

#slider {
    width: 100%;
    height: 100%;
    display: flex;
    transition: 1s ease-in-out;
}

.slider-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    flex-shrink: 0;
}

#pagination {
    position: absolute;
    display: flex;
    column-gap: 15px;
    bottom: 25px;
}

.pagination-circle {
    width: 15px;
    height: 15px;
    background-color: #FFFFFF;
    border-radius: 50%;
    cursor: pointer;
}

.active {
    background-color: #d7b357;
}

@media screen and (max-width: 1300px) {
    .about-salon {
        flex-direction: column;
    }

    .interior {
        width: 100%;
    }

}

@media screen and (max-width: 450px) {
    .interior {
        height: 400px;
    }
}

.reviews {
    width: 50%;
    height: 800px;
}

.reviews h2 {
    text-align: center;
    padding: 15% 0;
}

.slider-container {
    width: 100%;
    display: flex;
    align-items: center;
}

#reviews-slider {
    width: 100%;
    height: 100%;
    display: flex;
    transition: 0.5s ease-in-out;
}

.user-reviews {
    width: 100%;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 50px;
    object-fit: cover;
    flex-shrink: 0;
}

.user-reviews p {
    width: 100%;
    color: #fff;
}

.user-reviews h4 {
    background: linear-gradient(90deg, #d7b357 6.06%, #dbbd6d 37.1%, #e4d6a0 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.arrow {
    padding: 5%;
    cursor: pointer;
}

@media screen and (max-width: 1300px) {
    .about-salon {
        margin-bottom: 120px;
    }

    .reviews {
        width: 100%;
    }
}

@media screen and (max-width: 450px) {
    .reviews {
        height: 600px;
    }
}

.gallery {
    display: flex;
    overflow: hidden;
}

.items {
    display: flex;
    white-space: nowrap;
    flex-shrink: 0;
    animation: scroll 30s linear infinite;
}

.item {
    margin: 120px 0;
    height: 460px;
    transition: 0.1s;
}

.item:hover {
    transform: scale(1.25);
}

.gallery:hover .items{
    animation-play-state: paused;
}

@keyframes scroll {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(-100%, 0);
    }
}

@media screen and (max-width: 1300px) {
    .gallery {
        display: none;
    }
}








.contacts {
    display: flex;
    align-items: center;
    margin-bottom: 120px;
    background-color: #000;
}

.contacts-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    width: 50%;
}

.communications {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.media {
    margin-top: 50px;
    display: flex;
    gap: 20px;
}

.contacts-info a {
    text-decoration: none;
    color: #fff;
}

.contacts iframe {
    width: 50%;
    filter: saturate(0) brightness(50%);
    transition: 0.5s;
}

.contacts iframe:hover {
    filter: saturate(1) brightness(100%);
}

@media screen and (max-width: 1000px) {
    .contacts {
        flex-direction: column;
    }

    .contacts-info {
        width: 100%;
        margin: 50px 0;
    }

    .contacts iframe {
        width: 100%;
        height: 600px;
    }
}


@media screen and (max-width: 450px) {
    .contacts iframe {
        height: 400px;
    }
}

footer {
    height: 616px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}

.logo-foot p {
    font-size: 16px;
    font-weight: 400px;
    font-family: "Roboto", sans-serif;
}

.logo-foot img {
    width: 50%;
}

.apps {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 30px;
}

.dop-info p {
    font-size: 12px;
    margin-bottom: 20px;
}

.dop-info span {
    display: flex;
    justify-content: center;
    gap: 30px;
}

@media screen and (max-width: 450px) {
    .apps {
        flex-direction: column;
    }
}